.layout {
    text-align: center;
    padding: 50px;
    
    .ant-typography-title {
      color: #ff4d4f;
    }
  
    .ant-btn-primary {
      background-color: #001529;
      border-color: #001529;
    }
  }